* {
  font-family: "Radio Canada", sans-serif;
  background-size: cover;
}

.navegador {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: #000030;
  justify-content: center;
  align-items: center;
  top: 0vh;
  position: sticky;
  z-index: 10;
}

.banco {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(10);
  cursor: pointer;
  min-width: 150px;
}

.menu {
  height: auto;
  width: 3%;
  position: absolute;
  left: 1.5%;
  align-self: center;
  filter: invert(1);
  cursor: pointer;
  min-width: 35px;
}

.link-titulo {
  justify-self: center;
  width: max-content;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  color: white;
  margin-top: 50px;
  margin-bottom: 0%;
  text-align: center;
}

.parrafos {
  font-size: 15px;
  color: white;
  text-align: justify;
  margin: 40px 120px 25px 120px;
  border-left: thick solid #22229c;
  /* border-left: thick solid rgb(156,137,184) */
  border-left-style: inset;
  border-radius: 2px;
  padding-left: 20px;
}

.burbuja {
  color: white;
  font-size: 14px;
  text-align: center;
  background-color: rgb(220, 220, 220, 0.5);
  padding: 10px;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  justify-content: left;
  align-items: center;
  font-weight: bold;
}
.millon {
  color: #aa07b5;
  font-size: 16px;
  text-align: center;
  margin-bottom: -10px;
  margin-top: 45px;
}

.posicion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  margin-left: 10;
  gap: 10%;
}

.link {
  background-color: rgb(220, 220, 220, 0.5);
  padding: 10px;
  width: 50%;
  height: 10%;
}

footer {
  text-align: center;
}

a.direccion {
  color: #22229c;
  font-size: 12px;
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a.telefono {
  color: #22229c;
  font-size: 12px;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ending {
  position: absolute;
  font-size: 13px;
  color: white;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hr {
  position: absolute;
  bottom: 5%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.233);
  height: 1px;
}

body {
  /* font-size: 20px; */
  margin: 0;
  background-color: #000010;
  /* background: linear-gradient(30deg, #39043c, #000010); */
  background: radial-gradient(black, #28092a);
}
